Practice_part2/ClientWCF/Connected Services/WCFServiceReference/WCF_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcf_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcf_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StatisticService">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllTasks" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorTasks" type="xs:int" />
      <xs:element minOccurs="0" name="SuccessTasks" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatisticService" nillable="true" type="tns:StatisticService" />
</xs:schema>